/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

/* Container for Layout */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}

/* Header */
header {
    background-color: #782F40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Content */
main {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

h2 {
    text-decoration-line: underline;
}

/* Button */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e58021;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: #CEB888;
}

/* Footer */
footer {
    background-color: #782F40;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
